*{
    letter-spacing: 0.1em;
}
.menu-btn{
    width: 30px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    right: 30px;
    margin-top: 30px;
    z-index: 10;
}
.menu-btn>li{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    transition: all .7s cubic-bezier(.5,0,0,1);
}
.content-wrapper{
    display: flex;
    flex-direction: row-reverse;
}
ul{
    margin: 0;
}
.first-line{
    transform: translateX(3px);
}
.second-line{
    transform: translateX(-12px);
}
.third-line{
    transform: translateX(20px);
}

.menu-btn:hover .first-line{transform: translateX(0px);}
.menu-btn:hover .second-line{transform: translateX(5px);}
.menu-btn:hover .third-line{transform: translateX(15px);}

.menu-wrapper{
    width: 15%;
    padding: 0px 5px 15px 15px;
}
.home-content_wrapper{
    color: #c8c8c8;
    width: 85%;
    height: 100%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
.about-block{
    height: 85vh;
}
.sw-wrapper{
    background: url(../images/star-wars-icons-png-3.png) center center no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}
