<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH VUE</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>

    <div id="search">

        <a class="viewed-btn btn-floating waves-effect"><i class="material-icons">turned_in_not</i></a>

        <div class="viewed-menu card">
            <ul>
                <li>
                    <span>first</span>
                    <a class="btn btn-small">удалить</a>
                </li>
                <li>second</li>
                <li>third</li>
            </ul>
        </div>

        <h5>{{header.toUpperCase()}}</h5>

        <div id="search-console">
            <input type="text" id="search-input" v-model="request" style="color: #595959">
        </div>

        <div class="card film-card" v-for="(film, i) in films" :key="i">
            <p>{{++i}}. {{film.title}}</p>
            <a class="waves-effect waves-light btn">Добавить в просмотренное</a>
        </div>

    </div>


    <script src="https://unpkg.com/vue"></script>

    <script>
        let init = "То что ищешь ты введи ...";

        let vm = new Vue({
            //опции нашего приложения
            el: "#search",
            data: {
                request: init,
                films:[]
            },
            computed: {
                header(){
                    return this.request === init || !this.request ? "Ничего не ищем сейчас" : `Ищем ${this.request}`
                }
            },

            async mounted(){
                let filmsInfo = await fetch("https://swapi.co/api/films/").then(res => res.json());
                this.films = filmsInfo.results;
            }
        })
    </script>

</body>
</html>
